<head>
    <div class="navbar">
      <a href="home"><i class="fa fa-fw fa-home"></i> Home</a>
      <a href="profile"><i class="fa fa-fw fa-user"></i> Profile</a>
      <a href="settings"><i class="fa fa-fw fa-gears"></i> Settings</a>
      <a class="split" href="logout"><i class="fa fa-fw fa-sign-out"></i> Log out</a>
      <a class="splitb">Welcome, {{ name }}</a>
    </div>
  </head>
  
  {% extends 'base.html' %}
  
  {% block content %}
  <h1>About Moyai</h1>
  <h2>Moyai was created as an online video game information hub that is unbiased in its presentation of facts.
  </h2>
  <h2>Users have the ability to create accounts which includes email validaton.
     They then can add games they want to track and search for new ones. </h2>

     <footer>
      <style> footer {
        background-color: #555;
        color: #fff;
        text-align: center;
        padding: 10px 0;
        position: fixed;
        width: 100%;
        bottom: 0;
    }</style>
        <p>&copy; 2024 Moyai App. All rights reserved.</p>
    </footer>
  {% endblock %}
