<!-- main template all other templates will pull stuff from this template.
-->
<br/><br/>

<html>
<head>
    {% include 'navbar.html' %}
</head>
   <body>
      <h1 align="center">Daddy's Marketplace</h1>
      <img src=https://i.ytimg.com/vi/quI772XuCpo/maxresdefault.jpg
            alt="Ryan Reynolds"
            style="width:25%">
      <hr>
  </body>

  <!-- <script type='text/javascript' src="{{url_for('static', filename='js/home_page.js')}}"></script> -->

</html>

{% block content %}

{% endblock %}

<br/><br/>
